.button {
  display: inline-block;
  border-radius: 10px;
  background-color: #009973;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 17px;
  padding: 14px;
  width: 119px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:before {
  content: '\00ab';
  position: absolute;
  opacity: 0;
  top: 0;
  left: -15px;
  transition: 0.5s;
}

.button:hover span {
  padding-left: 15px;
}

.button:hover span:before {
  opacity: 1;
  left: 0;
}




